inst/doc
*~
.Rproj.user
TidyGenomicsTranscriptomicsWorkshop.Rproj
TidyGenomicsTranscriptomicsWorkshop_bioc2023.Rproj
.Rhistory
.DS_Store
/doc/
/Meta/

vignettes/tidyomicsWorkshopBioc2023_cache/
vignettes/tidyomicsWorkshopBioc2023_files/
